<nav class="top-bar sticky" data-topbar="" >
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">MusiCTI</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right show-for-large-up">
            <li class="active"><a href="#">Add tracks</a></li>
            <li class="has-dropdown not-click">
                <a href="#">My Account</a>
                <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li><a href="#">First link in dropdown</a></li>
                </ul>
            </li>
        </ul>

        <ul class="right hide-for-large-up">
            <li class="active"><a href="#">Add tracks</a></li>
            <li class="has-dropdown not-click">
                <a href="#">My Account</a>
                <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                    <li><a href="#">First link in dropdown</a></li>
                </ul>
            </li>
        </ul>

    </section>
</nav>